.section-bg{
  background-image: url('/src/images/pexels-lumn-167699-min.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 600px){
  .section-bg {
    height: 180vh;
  }
}
/*------------------------SWOT Section---------------------*/
.title{
  margin-bottom: 6rem;
}
.swot .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  width: 15.9375rem;
  height: 14.1125rem;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

.swot .icon-box .icon {
  margin-bottom: 10px;
}

.swot .icon-box .icon i {
  color: #47b2e4;
  font-size: 36px;
}

.swot .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.swot .icon-box h4 a {
  color: #37517e;
  
}

.swot .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.swot .icon-box:hover {
  transform: translateY(-10px);
}

.swot .icon-box:hover h4 a {
  color: #47b2e4;
}

/*------------------------Resume Section---------------------*/
.resume{
  width: 100%;
  height: 85rem;
  background-image: url('/src/images/pexels-lumn-167699-min.jpg');
  padding-top: 10rem;
}
.resume .resume-title {
  font-size: 26px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #222222;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid orange;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #1d685f;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #effbf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color:orange;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid orange;
}